/* This is a copy of the CSS that Team Password Manager uses for the Sign In and related screens (password reset, 2FA) */
/* You can change it to suit your look and feel */

@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
}

#login_form {
	max-width: 400px;
	padding: 30px;
	margin: 0 auto;
	border: 4px solid #2A5DB0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#login_logo {
	background: url(logo.jpg) no-repeat;
	padding-left: 70px;
	height: 45px;
	float: left;
}

h1 {
	padding: 5px 0 0 0;
	margin: 0 0 35px 0;
	font-size: 28px;
	color: #2A5DB0;
}

#login_form label {
	font-size: 16px;
    height: auto;
}

#login_form input[type="text"], #login_form input[type="password"] {
	font-size: 16px;
    height: auto;
    margin-bottom: 20px;
    padding: 7px 9px;
}

#login_error {
	color: red;
	margin-bottom: 30px;
}

#forgot_password_link {
	margin-bottom: 30px;
}

#label_instructions {
	margin-bottom: 30px;
}

#back_signin_link {
	margin-top: 40px;
}

/* End of custom_signin.css */